openapi: 3.1.0
info:
  contact:
    email: hello@sip-protocol.org
    name: SIP Protocol
    url: https://sip-protocol.org
  description: "REST API wrapping SIP Protocol's privacy SDK for Solana agents. Stealth\
    \ addresses, Pedersen commitments, shielded transfers, and viewing key compliance."
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: Sipher — Privacy-as-a-Skill API
  version: 0.1.0
servers:
- description: Production
  url: https://sipher.sip-protocol.org
- description: Local development
  url: http://localhost:5006
security:
- ApiKeyAuth: []
tags:
- description: "Server health, readiness, and error catalog"
  name: Health
- description: "Stealth address generation, derivation, and ownership check"
  name: Stealth
- description: Build shielded transfers and claim stealth payments
  name: Transfer
- description: Scan for incoming shielded payments
  name: Scan
- description: "Pedersen commitment operations (create, verify, homomorphic add/subtract)"
  name: Commitment
- description: "Viewing key generation, encryption for disclosure, and decryption"
  name: Viewing Key
- description: Wallet privacy analysis and surveillance scoring
  name: Privacy
- description: RPC provider configuration and status
  name: RPC
- description: "Privacy backend registry, health monitoring, and selection"
  name: Backends
- description: "ZK proof generation and verification (funding, validity, fulfillment,\
    \ range)"
  name: Proofs
- description: "Confidential SPL token operations (wrap, unwrap, transfer)"
  name: C-SPL
- description: "Arcium MPC compute backend — submit computations, poll status, decrypt\
    \ results"
  name: Arcium
- description: "Inco FHE compute backend — encrypt values, compute on ciphertexts,\
    \ decrypt results"
  name: Inco
- description: Privacy-preserving token swaps via Jupiter DEX with stealth address
    routing
  name: Swap
- description: "Agent session management — configure default parameters (chain, backend,\
    \ privacy level) applied to all requests"
  name: Sessions
- description: "Enterprise compliance endpoints — selective disclosure, audit reports,\
    \ and auditor verification"
  name: Compliance
- description: "Privacy-preserving governance — encrypted ballots via Pedersen commitments,\
    \ nullifier-based double-vote prevention, and homomorphic vote tallying"
  name: Governance
- description: Jito bundle relay for MEV-protected privacy transactions with optional
    gas sponsorship
  name: Gas Abstraction
- description: "Stripe billing, subscription management, usage metering, and daily\
    \ operation quotas"
  name: Billing & Usage
- description: "API key management — create, list, inspect, and revoke tiered keys.\
    \ Requires ADMIN_API_KEY."
  name: Admin
paths:
  /v1/health:
    get:
      operationId: getHealth
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_200_response"
          description: Service is healthy
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Service unhealthy or shutting down
      security: []
      summary: Health check
      tags:
      - Health
  /v1/ready:
    get:
      description: Returns 200 only if all critical systems are healthy. Use as Docker/k8s
        readiness probe.
      operationId: getReady
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getReady_200_response"
          description: Service is ready to accept requests
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Service not ready
      security: []
      summary: Readiness probe
      tags:
      - Health
  /v1/errors:
    get:
      description: "Returns all API error codes with descriptions, HTTP statuses,\
        \ and retry guidance."
      operationId: getErrors
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getErrors_200_response"
          description: Error catalog
      security: []
      summary: Error code catalog
      tags:
      - Health
  /v1/stealth/generate:
    post:
      operationId: stealthGenerate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/stealthGenerate_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/stealthGenerate_200_response"
          description: Stealth meta-address generated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Generate stealth meta-address keypair
      tags:
      - Stealth
  /v1/stealth/derive:
    post:
      operationId: stealthDerive
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/stealthDerive_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/stealthDerive_200_response"
          description: Stealth address derived
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Derive one-time stealth address
      tags:
      - Stealth
  /v1/stealth/check:
    post:
      operationId: stealthCheck
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/stealthCheck_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/stealthCheck_200_response"
          description: Ownership check result
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Check stealth address ownership
      tags:
      - Stealth
  /v1/stealth/generate/batch:
    post:
      description: Generate multiple stealth meta-address keypairs in a single call.
        Max 100 per request.
      operationId: stealthGenerateBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/stealthGenerateBatch_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/stealthGenerateBatch_200_response"
          description: Batch generation results
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Batch generate stealth keypairs
      tags:
      - Stealth
  /v1/transfer/shield:
    post:
      description: Creates an unsigned Solana transaction sending to a stealth address
        with Pedersen commitment.
      operationId: transferShield
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/transferShield_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/transferShield_200_response"
          description: Unsigned transaction built
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Build shielded transfer (unsigned)
      tags:
      - Transfer
  /v1/transfer/claim:
    post:
      description: "Derives stealth private key, signs and submits claim transaction\
        \ on-chain."
      operationId: transferClaim
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/transferClaim_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/transferClaim_200_response"
          description: Claim transaction submitted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Claim stealth payment (signed)
      tags:
      - Transfer
  /v1/transfer/private:
    post:
      description: "Builds a private transfer to a stealth address on any supported\
        \ chain. Returns chain-specific transaction data (Solana unsigned tx, EVM\
        \ tx descriptor, or NEAR action descriptors). Currently supports: solana,\
        \ ethereum, polygon, arbitrum, optimism, base, near."
      operationId: transferPrivate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/transferPrivate_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/transferPrivate_200_response"
          description: Private transfer built successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/transferPrivate_422_response"
          description: Chain not supported for transfers
      summary: Build unified private transfer (chain-agnostic)
      tags:
      - Transfer
  /v1/scan/payments:
    post:
      description: Scans Solana for SIP announcements matching the provided viewing
        key.
      operationId: scanPayments
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/scanPayments_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/scanPayments_200_response"
          description: Scan results
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Scan for incoming shielded payments
      tags:
      - Scan
  /v1/commitment/create:
    post:
      operationId: commitmentCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/commitmentCreate_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/commitmentCreate_200_response"
          description: Commitment created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Create Pedersen commitment
      tags:
      - Commitment
  /v1/commitment/verify:
    post:
      operationId: commitmentVerify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/commitmentVerify_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/commitmentVerify_200_response"
          description: Verification result
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Verify Pedersen commitment
      tags:
      - Commitment
  /v1/commitment/add:
    post:
      operationId: commitmentAdd
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/commitmentAdd_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/commitmentAdd_200_response"
          description: Sum commitment
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Add two commitments (homomorphic)
      tags:
      - Commitment
  /v1/commitment/subtract:
    post:
      operationId: commitmentSubtract
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/commitmentAdd_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/commitmentAdd_200_response"
          description: Difference commitment
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Subtract two commitments (homomorphic)
      tags:
      - Commitment
  /v1/commitment/create/batch:
    post:
      description: Create multiple Pedersen commitments in a single call. Max 100
        per request.
      operationId: commitmentCreateBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/commitmentCreateBatch_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/commitmentCreateBatch_200_response"
          description: Batch commitment results
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Batch create Pedersen commitments
      tags:
      - Commitment
  /v1/scan/payments/batch:
    post:
      description: Scan for incoming shielded payments across multiple viewing key
        pairs. Max 100 key pairs per request.
      operationId: scanPaymentsBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/scanPaymentsBatch_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/scanPaymentsBatch_200_response"
          description: Batch scan results
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Batch scan for payments across multiple key pairs
      tags:
      - Scan
  /v1/scan/assets:
    post:
      description: "Query all assets (SPL tokens, NFTs, cNFTs) at a stealth address\
        \ using Helius DAS getAssetsByOwner API. Falls back to standard getTokenAccountsByOwner\
        \ if Helius is not configured."
      operationId: scanAssets
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/scanAssets_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/scanAssets_200_response"
          description: Asset list
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Invalid address
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Helius DAS unavailable
      summary: Scan stealth address assets via Helius DAS
      tags:
      - Scan
  /v1/viewing-key/generate:
    post:
      operationId: viewingKeyGenerate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/viewingKeyGenerate_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/viewingKeyGenerate_200_response"
          description: Viewing key generated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Generate viewing key
      tags:
      - Viewing Key
  /v1/viewing-key/derive:
    post:
      description: "Derives a child viewing key from a master key using HMAC-SHA512.\
        \ Supports hierarchical key trees for scoped compliance access (per-auditor,\
        \ per-timeframe)."
      operationId: viewingKeyDerive
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/viewingKeyDerive_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/viewingKeyDerive_200_response"
          description: Derived child viewing key
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Derive child viewing key (BIP32-style)
      tags:
      - Viewing Key
  /v1/viewing-key/verify-hierarchy:
    post:
      description: Verifies that a child viewing key was derived from a specific parent
        key at a given path.
      operationId: viewingKeyVerifyHierarchy
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/viewingKeyVerifyHierarchy_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/viewingKeyVerifyHierarchy_200_response"
          description: Hierarchy verification result
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Verify viewing key parent-child relationship
      tags:
      - Viewing Key
  /v1/viewing-key/disclose:
    post:
      description: Encrypts transaction data so only the viewing key holder can decrypt
        it (selective compliance).
      operationId: viewingKeyDisclose
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/viewingKeyDisclose_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/viewingKeyDisclose_200_response"
          description: Encrypted disclosure
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Encrypt transaction for disclosure
      tags:
      - Viewing Key
  /v1/viewing-key/decrypt:
    post:
      operationId: viewingKeyDecrypt
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/viewingKeyDecrypt_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/viewingKeyDecrypt_200_response"
          description: Decrypted transaction data
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Decryption failed (key mismatch)
      summary: Decrypt transaction with viewing key
      tags:
      - Viewing Key
  /v1/privacy/score:
    post:
      description: Analyzes on-chain activity of a Solana wallet and returns a 0-100
        privacy score with breakdown by factor and actionable recommendations.
      operationId: privacyScore
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/privacyScore_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/privacyScore_200_response"
          description: Privacy score analysis
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Invalid address
      summary: Analyze wallet privacy score
      tags:
      - Privacy
  /v1/rpc/providers:
    get:
      operationId: getRpcProviders
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getRpcProviders_200_response"
          description: Active provider info and supported provider list
      security:
      - ApiKeyAuth: []
      summary: List supported RPC providers and active configuration
      tags:
      - RPC
  /v1/proofs/funding/generate:
    post:
      description: Generates a ZK proof that balance >= minimumRequired without revealing
        the balance.
      operationId: proofsFundingGenerate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/proofsFundingGenerate_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proofsFundingGenerate_200_response"
          description: Proof generated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation or proof generation error
      summary: Generate funding proof
      tags:
      - Proofs
  /v1/proofs/funding/verify:
    post:
      description: Verifies a previously generated funding proof.
      operationId: proofsFundingVerify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/proofsFundingVerify_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/commitmentVerify_200_response"
          description: Verification result
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Verify funding proof
      tags:
      - Proofs
  /v1/proofs/validity/generate:
    post:
      description: Generates a ZK proof that an intent is authorized by the sender
        without revealing the sender.
      operationId: proofsValidityGenerate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/proofsValidityGenerate_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proofsValidityGenerate_200_response"
          description: Proof generated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation or proof generation error
      summary: Generate validity proof
      tags:
      - Proofs
  /v1/proofs/validity/verify:
    post:
      description: Verifies a previously generated validity proof.
      operationId: proofsValidityVerify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/proofsValidityVerify_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/commitmentVerify_200_response"
          description: Verification result
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Verify validity proof
      tags:
      - Proofs
  /v1/proofs/fulfillment/generate:
    post:
      description: Generates a ZK proof that the solver delivered output >= minimum
        to the correct recipient.
      operationId: proofsFulfillmentGenerate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/proofsFulfillmentGenerate_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proofsFulfillmentGenerate_200_response"
          description: Proof generated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation or proof generation error
      summary: Generate fulfillment proof
      tags:
      - Proofs
  /v1/proofs/range/generate:
    post:
      description: Generates a STARK-based range proof that value >= threshold on
        a Pedersen commitment without revealing the value. Uses M31 limb decomposition.
        Currently uses a mock STARK prover — real Murkl integration coming soon.
      operationId: proofsRangeGenerate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/proofsRangeGenerate_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/proofsRangeGenerate_200_response"
          description: Range proof generated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation or proof generation error
      summary: Generate STARK range proof
      tags:
      - Proofs
  /v1/proofs/range/verify:
    post:
      description: Verifies a previously generated STARK range proof.
      operationId: proofsRangeVerify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/proofsRangeVerify_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/commitmentVerify_200_response"
          description: Verification result
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Verify STARK range proof
      tags:
      - Proofs
  /v1/backends:
    get:
      description: "Returns all registered privacy backends with capabilities, health\
        \ state, and priority. Backends implement different privacy strategies (stealth\
        \ addresses, FHE, MPC)."
      operationId: backendsList
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/backendsList_200_response"
          description: List of registered backends
      summary: List privacy backends
      tags:
      - Backends
  /v1/backends/{id}/health:
    get:
      description: "Probes a specific backend for availability, returns circuit breaker\
        \ state, metrics, and capabilities."
      operationId: backendsHealth
      parameters:
      - description: "Backend name (e.g., sip-native)"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/backendsHealth_200_response"
          description: Backend health details
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Backend not found
      summary: Check backend health
      tags:
      - Backends
  /v1/backends/select:
    post:
      description: Sets the preferred privacy backend for the authenticated API key.
        Requires a tiered API key.
      operationId: backendsSelect
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/backendsSelect_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/backendsSelect_200_response"
          description: Backend preference saved
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error or missing API key
      summary: Select preferred backend
      tags:
      - Backends
  /v1/backends/compare:
    post:
      description: "Compare available privacy backends for a given operation type,\
        \ returning cost, latency, privacy level, and recommendations."
      operationId: backendsCompare
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/backendsCompare_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/backendsCompare_200_response"
          description: Backend comparison results with recommendations
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Compare privacy backends
      tags:
      - Backends
  /v1/cspl/wrap:
    post:
      description: Wraps standard SPL tokens into a confidential (C-SPL) balance with
        encrypted amounts.
      operationId: csplWrap
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/csplWrap_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/csplWrap_200_response"
          description: Tokens wrapped into confidential balance
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation or operation error
      summary: Wrap SPL tokens into confidential balance
      tags:
      - C-SPL
  /v1/cspl/unwrap:
    post:
      description: Unwraps confidential (C-SPL) tokens back to standard SPL token
        balance.
      operationId: csplUnwrap
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/csplUnwrap_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/csplUnwrap_200_response"
          description: Tokens unwrapped
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation or operation error
      summary: Unwrap confidential tokens back to SPL
      tags:
      - C-SPL
  /v1/cspl/transfer:
    post:
      description: Transfers confidential (C-SPL) tokens with hidden amount between
        accounts.
      operationId: csplTransfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/csplTransfer_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/csplTransfer_200_response"
          description: Confidential transfer completed
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation or operation error
      summary: Confidential token transfer
      tags:
      - C-SPL
  /v1/proofs/fulfillment/verify:
    post:
      description: Verifies a previously generated fulfillment proof.
      operationId: proofsFulfillmentVerify
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/proofsFulfillmentVerify_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/commitmentVerify_200_response"
          description: Verification result
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Verify fulfillment proof
      tags:
      - Proofs
  /v1/arcium/compute:
    post:
      description: Submit an encrypted computation to the Arcium MPC cluster. Returns
        a computation ID for status polling.
      operationId: submitArciumComputation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitArciumComputation_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/submitArciumComputation_200_response"
          description: Computation submitted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Submit MPC computation
      tags:
      - Arcium
  /v1/arcium/compute/{id}/status:
    get:
      description: "Poll the status of an MPC computation. Status progresses: submitted\
        \ → encrypting → processing → finalizing → completed."
      operationId: getArciumComputationStatus
      parameters:
      - description: Computation ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^arc_[0-9a-fA-F]{64}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getArciumComputationStatus_200_response"
          description: Computation status
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Computation not found
      summary: Get computation status
      tags:
      - Arcium
  /v1/arcium/decrypt:
    post:
      description: Decrypt the output of a completed MPC computation using a viewing
        key.
      operationId: decryptArciumResult
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/decryptArciumResult_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/decryptArciumResult_200_response"
          description: Decryption result
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Decrypt failed or computation incomplete
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Computation not found
      summary: Decrypt computation result
      tags:
      - Arcium
  /v1/inco/encrypt:
    post:
      description: Encrypt a plaintext value using Fully Homomorphic Encryption (FHEW
        or TFHE scheme). Returns ciphertext and noise budget.
      operationId: encryptIncoValue
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/encryptIncoValue_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/encryptIncoValue_200_response"
          description: Value encrypted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Encrypt value with FHE
      tags:
      - Inco
  /v1/inco/compute:
    post:
      description: Perform a homomorphic operation on FHE ciphertexts. Operations
        complete synchronously. Tracks noise budget consumption.
      operationId: computeIncoCiphertexts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/computeIncoCiphertexts_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/computeIncoCiphertexts_200_response"
          description: Computation completed
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Compute on encrypted data
      tags:
      - Inco
  /v1/inco/decrypt:
    post:
      description: Decrypt the output of a completed FHE computation. Returns the
        plaintext result.
      operationId: decryptIncoResult
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/decryptIncoResult_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/decryptIncoResult_200_response"
          description: Decryption result
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Decrypt failed or invalid computation ID
      summary: Decrypt FHE computation result
      tags:
      - Inco
  /v1/swap/private:
    post:
      description: "Composite endpoint orchestrating stealth address generation, optional\
        \ C-SPL wrapping, and Jupiter DEX swap into a single privacy-preserving token\
        \ swap. Output is routed to a stealth address with Pedersen commitment. Supports\
        \ ephemeral stealth addresses for agents without persistent meta-address."
      operationId: privateSwap
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/privateSwap_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/privateSwap_200_response"
          description: Private swap built successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error or unsupported token
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Swap orchestration failed
      summary: Privacy-preserving token swap via Jupiter DEX
      tags:
      - Swap
  /v1/compliance/disclose:
    post:
      description: "Creates a selective disclosure for a verified auditor. Derives\
        \ a scoped viewing key limited to the specified scope, encrypts transaction\
        \ data, and returns the disclosure record. Requires enterprise tier."
      operationId: complianceDisclose
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/complianceDisclose_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/complianceDisclose_200_response"
          description: Disclosure created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Tier access denied (enterprise only)
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Disclosure failed
      summary: Selective disclosure with scoped viewing key (enterprise)
      tags:
      - Compliance
  /v1/compliance/report:
    post:
      description: "Generates an encrypted compliance audit report for the specified\
        \ time range. Verifies auditor identity, produces transaction summaries with\
        \ encrypted entries, and caches the report for 24 hours. Requires enterprise\
        \ tier."
      operationId: complianceReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/complianceReport_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/complianceReport_200_response"
          description: Report generated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Tier access denied (enterprise only)
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Report generation failed
      summary: Generate encrypted audit report (enterprise)
      tags:
      - Compliance
  /v1/compliance/report/{id}:
    get:
      description: Retrieves a previously generated compliance audit report by ID.
        Reports are cached for 24 hours after generation. Requires enterprise tier.
      operationId: getComplianceReport
      parameters:
      - description: Report ID returned from POST /v1/compliance/report
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^rpt_[0-9a-fA-F]{64}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getComplianceReport_200_response"
          description: Report found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Invalid report ID format
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Tier access denied (enterprise only)
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Report not found
      summary: Retrieve generated compliance report (enterprise)
      tags:
      - Compliance
  /v1/sessions:
    post:
      description: "Creates a session that stores default parameters (chain, backend,\
        \ privacy level, etc.) applied to all subsequent requests via the X-Session-Id\
        \ header. Requires pro or enterprise tier."
      operationId: createSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createSession_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createSession_201_response"
          description: Session created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Invalid request body
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Tier access denied (pro+ required)
      summary: Create agent session with default parameters (pro+)
      tags:
      - Sessions
  /v1/sessions/{id}:
    delete:
      description: Ends and deletes the session. The session ID will no longer be
        valid for subsequent requests.
      operationId: deleteSession
      parameters:
      - description: Session ID returned from POST /v1/sessions
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^sess_[0-9a-f]{64}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteSession_200_response"
          description: Session deleted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Invalid session ID format
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Tier access denied (pro+ required)
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Session not found
      summary: Delete session (pro+)
      tags:
      - Sessions
    get:
      description: Retrieves session details including defaults and expiry. Only the
        session owner (same API key) can access it.
      operationId: getSession
      parameters:
      - description: Session ID returned from POST /v1/sessions
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^sess_[0-9a-f]{64}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getSession_200_response"
          description: Session found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Invalid session ID format
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Tier access denied (pro+ required)
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Session not found
      summary: Get session configuration (pro+)
      tags:
      - Sessions
    patch:
      description: Merges new defaults into the existing session. Only provided keys
        are updated; omitted keys remain unchanged.
      operationId: updateSession
      parameters:
      - description: Session ID returned from POST /v1/sessions
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^sess_[0-9a-f]{64}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateSession_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/updateSession_200_response"
          description: Session updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Invalid request body or session ID
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Tier access denied (pro+ required)
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Session not found
      summary: Update session defaults (pro+)
      tags:
      - Sessions
  /v1/governance/ballot/encrypt:
    post:
      description: Creates a Pedersen commitment for a vote (yes/no/abstain) and generates
        a deterministic nullifier from the voter secret + proposal ID. The nullifier
        prevents double-voting without revealing voter identity.
      operationId: encryptBallot
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/encryptBallot_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/encryptBallot_200_response"
          description: Encrypted ballot with commitment and nullifier
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Encrypt a vote ballot
      tags:
      - Governance
  /v1/governance/ballot/submit:
    post:
      description: Submits an encrypted ballot (commitment + nullifier) to a proposal.
        The nullifier is checked for uniqueness — duplicate votes are rejected with
        409. Proposals are created lazily on first ballot submission.
      operationId: submitBallot
      parameters:
      - description: UUID v4 for idempotent submission
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitBallot_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/submitBallot_200_response"
          description: Ballot accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Double vote detected (nullifier already used)
      summary: Submit encrypted ballot to a proposal
      tags:
      - Governance
  /v1/governance/tally:
    post:
      description: Performs homomorphic addition of all ballot commitments for a proposal.
        The tally commitment can be verified against the total yes-vote count using
        the combined blinding factor. Returns a verification hash as proof of correct
        tallying.
      operationId: tallyVotes
      parameters:
      - description: UUID v4 for idempotent tally
        explode: false
        in: header
        name: Idempotency-Key
        required: false
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/tallyVotes_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tallyVotes_200_response"
          description: Tally result with verification proof
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Proposal not found
      summary: Tally votes for a proposal
      tags:
      - Governance
  /v1/governance/tally/{id}:
    get:
      description: "Retrieves a previously computed tally result by its ID. Includes\
        \ vote counts, the homomorphic tally commitment, and the verification proof."
      operationId: getTally
      parameters:
      - description: Tally ID returned from POST /v1/governance/tally
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^tly_[0-9a-f]{64}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getTally_200_response"
          description: Tally result
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Invalid tally ID format
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Tally not found
      summary: Get tally result
      tags:
      - Governance
  /v1/jito/relay:
    post:
      description: Submit one or more transactions as a Jito bundle for MEV-protected
        execution. Optionally enable gas sponsorship (enterprise tier).
      operationId: submitJitoBundle
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitJitoBundle_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/submitJitoBundle_200_response"
          description: Bundle submitted successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error or invalid transaction
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Gas sponsorship requires enterprise tier
      summary: Submit transaction(s) via Jito bundle
      tags:
      - Gas Abstraction
  /v1/admin/keys:
    get:
      description: Returns all API keys (masked). Requires admin API key.
      operationId: listAdminKeys
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAdminKeys_200_response"
          description: API keys listed
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Admin key required
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Admin API not configured
      security:
      - ApiKeyAuth: []
      summary: List all API keys
      tags:
      - Admin
    post:
      description: Creates a new tiered API key. The raw key is only shown once in
        the response. Requires admin API key.
      operationId: createAdminKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createAdminKey_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createAdminKey_201_response"
          description: API key created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Admin key required
      security:
      - ApiKeyAuth: []
      summary: Create a new API key
      tags:
      - Admin
  /v1/admin/keys/{id}:
    delete:
      description: Permanently revokes an API key. Requires admin API key.
      operationId: revokeAdminKey
      parameters:
      - description: API key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/revokeAdminKey_200_response"
          description: Key revoked
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Admin key required
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Key not found
      security:
      - ApiKeyAuth: []
      summary: Revoke an API key
      tags:
      - Admin
    get:
      description: Returns key details with masked key value and usage stats. Requires
        admin API key.
      operationId: getAdminKey
      parameters:
      - description: API key ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAdminKey_200_response"
          description: API key details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Admin key required
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Key not found
      security:
      - ApiKeyAuth: []
      summary: Get API key details
      tags:
      - Admin
  /v1/admin/tiers:
    get:
      description: Returns all tier names and their associated rate/quota limits.
        Requires admin API key.
      operationId: listAdminTiers
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAdminTiers_200_response"
          description: Tiers listed
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Admin key required
      security:
      - ApiKeyAuth: []
      summary: List available tiers and limits
      tags:
      - Admin
  /v1/billing/usage:
    get:
      description: Returns daily operation usage broken down by category for the current
        API key.
      operationId: getBillingUsage
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getBillingUsage_200_response"
          description: Usage data retrieved
      summary: Get current period usage
      tags:
      - Billing & Usage
  /v1/billing/subscription:
    get:
      description: Returns the current subscription details for the API key.
      operationId: getBillingSubscription
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getBillingSubscription_200_response"
          description: Subscription details
      summary: Get current subscription
      tags:
      - Billing & Usage
  /v1/billing/subscribe:
    post:
      description: Create a new subscription or change the plan of an existing active
        subscription.
      operationId: createBillingSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createBillingSubscription_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createBillingSubscription_200_response"
          description: Subscription created or updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Validation error
      summary: Create or change subscription
      tags:
      - Billing & Usage
  /v1/billing/invoices:
    get:
      description: Returns paginated invoices for the current API key.
      operationId: listBillingInvoices
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listBillingInvoices_200_response"
          description: Invoices retrieved
      summary: List invoices
      tags:
      - Billing & Usage
  /v1/billing/portal:
    post:
      description: Creates a Stripe customer portal session URL. Requires pro or enterprise
        tier.
      operationId: createBillingPortal
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createBillingPortal_200_response"
          description: Portal session created
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Tier access denied
      summary: Generate customer portal URL
      tags:
      - Billing & Usage
  /v1/billing/webhook:
    post:
      description: Receives and validates Stripe webhook events. Requires stripe-signature
        header. Bypasses API key auth.
      operationId: handleBillingWebhook
      parameters:
      - description: Stripe webhook signature for verification
        explode: false
        in: header
        name: stripe-signature
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/handleBillingWebhook_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/handleBillingWebhook_200_response"
          description: Webhook processed
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Invalid webhook signature
      security: []
      summary: Stripe webhook receiver
      tags:
      - Billing & Usage
  /v1/jito/bundle/{id}:
    get:
      description: "Check the status of a previously submitted Jito bundle. Status\
        \ progresses: submitted → bundled → confirming → confirmed."
      operationId: getJitoBundleStatus
      parameters:
      - description: Jito bundle ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^jito_[0-9a-fA-F]{64}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getJitoBundleStatus_200_response"
          description: Bundle status retrieved
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Invalid bundle ID format
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getHealth_503_response"
          description: Bundle not found
      summary: Poll bundle status
      tags:
      - Gas Abstraction
components:
  parameters:
    SessionId:
      description: "Session ID to apply stored defaults (chain, backend, privacy level)\
        \ to this request. Obtain via POST /v1/sessions."
      explode: false
      in: header
      name: X-Session-Id
      required: false
      schema:
        pattern: "^sess_[0-9a-f]{64}$"
        type: string
      style: simple
  schemas:
    ErrorResponse:
      properties:
        success:
          enum:
          - false
          type: boolean
        error:
          $ref: "#/components/schemas/getHealth_503_response_error"
      required:
      - error
      - success
    StealthMetaAddress:
      example:
        viewingKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        chain: solana
        spendingKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        label: label
      properties:
        spendingKey:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        viewingKey:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        chain:
          enum:
          - solana
          type: string
        label:
          type: string
      required:
      - chain
      - spendingKey
      - viewingKey
    StealthAddress:
      example:
        address: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        viewTag: 20
        ephemeralPublicKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
      properties:
        address:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        ephemeralPublicKey:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        viewTag:
          maximum: 255
          minimum: 0
          type: integer
      required:
      - address
      - ephemeralPublicKey
      - viewTag
    ViewingKey:
      example:
        path: path
        key: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        hash: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
      properties:
        key:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        path:
          type: string
        hash:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
      required:
      - hash
      - key
      - path
    getHealth_200_response_data_solana:
      example:
        connected: true
        cluster: cluster
        slot: 6
        latencyMs: 1
      properties:
        connected:
          type: boolean
        cluster:
          type: string
        slot:
          type: integer
        latencyMs:
          type: integer
    getHealth_200_response_data_memory:
      example:
        rssMB: 5.637376656633329
        heapUsedMB: 5.962133916683182
      properties:
        heapUsedMB:
          type: number
        rssMB:
          type: number
    getHealth_200_response_data:
      example:
        endpoints: 2
        memory:
          rssMB: 5.637376656633329
          heapUsedMB: 5.962133916683182
        solana:
          connected: true
          cluster: cluster
          slot: 6
          latencyMs: 1
        version: version
        status: healthy
        timestamp: 2000-01-23T04:56:07.000+00:00
        uptime: 0
      properties:
        status:
          enum:
          - healthy
          - unhealthy
          - shutting_down
          type: string
        version:
          type: string
        timestamp:
          format: date-time
          type: string
        uptime:
          description: Uptime in seconds
          type: integer
        solana:
          $ref: "#/components/schemas/getHealth_200_response_data_solana"
        memory:
          $ref: "#/components/schemas/getHealth_200_response_data_memory"
        endpoints:
          type: integer
    getHealth_200_response:
      example:
        data:
          endpoints: 2
          memory:
            rssMB: 5.637376656633329
            heapUsedMB: 5.962133916683182
          solana:
            connected: true
            cluster: cluster
            slot: 6
            latencyMs: 1
          version: version
          status: healthy
          timestamp: 2000-01-23T04:56:07.000+00:00
          uptime: 0
        success: true
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/getHealth_200_response_data"
    getHealth_503_response_error:
      example:
        code: code
        details: ""
        message: message
      properties:
        code:
          type: string
        message:
          type: string
        details: {}
      required:
      - code
      - message
    getHealth_503_response:
      example:
        success: true
        error:
          code: code
          details: ""
          message: message
      properties:
        success:
          enum:
          - false
          type: boolean
        error:
          $ref: "#/components/schemas/getHealth_503_response_error"
      required:
      - error
      - success
    getReady_200_response_data_checks:
      example:
        solana: true
        shutdown: true
      properties:
        solana:
          type: boolean
        shutdown:
          type: boolean
    getReady_200_response_data:
      example:
        checks:
          solana: true
          shutdown: true
        ready: true
      properties:
        ready:
          type: boolean
        checks:
          $ref: "#/components/schemas/getReady_200_response_data_checks"
    getReady_200_response:
      example:
        data:
          checks:
            solana: true
            shutdown: true
          ready: true
        success: true
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/getReady_200_response_data"
    getErrors_200_response_data_errors_inner:
      example:
        retryable: true
        code: code
        httpStatus: 6
        description: description
      properties:
        code:
          type: string
        httpStatus:
          type: integer
        description:
          type: string
        retryable:
          type: boolean
    getErrors_200_response_data:
      example:
        totalCodes: 0
        errors:
        - retryable: true
          code: code
          httpStatus: 6
          description: description
        - retryable: true
          code: code
          httpStatus: 6
          description: description
      properties:
        totalCodes:
          type: integer
        errors:
          items:
            $ref: "#/components/schemas/getErrors_200_response_data_errors_inner"
          type: array
    getErrors_200_response:
      example:
        data:
          totalCodes: 0
          errors:
          - retryable: true
            code: code
            httpStatus: 6
            description: description
          - retryable: true
            code: code
            httpStatus: 6
            description: description
        success: true
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/getErrors_200_response_data"
    stealthGenerate_request:
      properties:
        label:
          description: Optional label for the keypair
          type: string
    stealthGenerate_200_response_data:
      example:
        metaAddress:
          viewingKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          chain: solana
          spendingKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          label: label
        spendingPrivateKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        viewingPrivateKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
      properties:
        metaAddress:
          $ref: "#/components/schemas/StealthMetaAddress"
        spendingPrivateKey:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        viewingPrivateKey:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
    stealthGenerate_200_response:
      example:
        data:
          metaAddress:
            viewingKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
            chain: solana
            spendingKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
            label: label
          spendingPrivateKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          viewingPrivateKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        success: true
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/stealthGenerate_200_response_data"
    stealthDerive_request:
      properties:
        recipientMetaAddress:
          $ref: "#/components/schemas/StealthMetaAddress"
      required:
      - recipientMetaAddress
    stealthDerive_200_response_data:
      example:
        stealthAddress:
          address: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          viewTag: 20
          ephemeralPublicKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        sharedSecret: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
      properties:
        stealthAddress:
          $ref: "#/components/schemas/StealthAddress"
        sharedSecret:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
    stealthDerive_200_response:
      example:
        data:
          stealthAddress:
            address: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
            viewTag: 20
            ephemeralPublicKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          sharedSecret: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        success: true
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/stealthDerive_200_response_data"
    stealthCheck_request:
      properties:
        stealthAddress:
          $ref: "#/components/schemas/StealthAddress"
        spendingPrivateKey:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        viewingPrivateKey:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
      required:
      - spendingPrivateKey
      - stealthAddress
      - viewingPrivateKey
    stealthCheck_200_response_data:
      example:
        isOwner: true
      properties:
        isOwner:
          type: boolean
    stealthCheck_200_response:
      example:
        data:
          isOwner: true
        success: true
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/stealthCheck_200_response_data"
    stealthGenerateBatch_request:
      properties:
        count:
          description: Number of keypairs to generate
          maximum: 100
          minimum: 1
          type: integer
        label:
          description: Optional label applied to all keypairs
          type: string
      required:
      - count
    stealthGenerateBatch_200_response_data_results_inner:
      example:
        data:
          metaAddress:
            viewingKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
            chain: solana
            spendingKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
            label: label
          spendingPrivateKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          viewingPrivateKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        success: true
        index: 0
        error: error
      properties:
        index:
          type: integer
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/stealthGenerate_200_response_data"
        error:
          type: string
    stealthGenerateBatch_200_response_data_summary:
      example:
        total: 6
        failed: 5
        succeeded: 1
      properties:
        total:
          type: integer
        succeeded:
          type: integer
        failed:
          type: integer
    stealthGenerateBatch_200_response_data:
      example:
        summary:
          total: 6
          failed: 5
          succeeded: 1
        results:
        - data:
            metaAddress:
              viewingKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
              chain: solana
              spendingKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
              label: label
            spendingPrivateKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
            viewingPrivateKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          success: true
          index: 0
          error: error
        - data:
            metaAddress:
              viewingKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
              chain: solana
              spendingKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
              label: label
            spendingPrivateKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
            viewingPrivateKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          success: true
          index: 0
          error: error
      properties:
        results:
          items:
            $ref: "#/components/schemas/stealthGenerateBatch_200_response_data_results_inner"
          type: array
        summary:
          $ref: "#/components/schemas/stealthGenerateBatch_200_response_data_summary"
    stealthGenerateBatch_200_response:
      example:
        data:
          summary:
            total: 6
            failed: 5
            succeeded: 1
          results:
          - data:
              metaAddress:
                viewingKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
                chain: solana
                spendingKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
                label: label
              spendingPrivateKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
              viewingPrivateKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
            success: true
            index: 0
            error: error
          - data:
              metaAddress:
                viewingKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
                chain: solana
                spendingKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
                label: label
              spendingPrivateKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
              viewingPrivateKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
            success: true
            index: 0
            error: error
        success: true
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/stealthGenerateBatch_200_response_data"
    transferShield_request:
      properties:
        sender:
          description: Base58-encoded Solana public key
          example: S1PMFspo4W6BYKHWkHNF7kZ3fnqibEXg3LQjxepS9at
          maxLength: 44
          minLength: 32
          type: string
        recipientMetaAddress:
          $ref: "#/components/schemas/StealthMetaAddress"
        amount:
          description: Positive integer as string (no leading zeros)
          example: "1000000000"
          pattern: "^[1-9]\\d*$"
          type: string
        mint:
          description: Optional SPL token mint. Omit for native SOL.
          example: S1PMFspo4W6BYKHWkHNF7kZ3fnqibEXg3LQjxepS9at
          maxLength: 44
          minLength: 32
          type: string
      required:
      - amount
      - recipientMetaAddress
      - sender
    transferShield_200_response_data:
      example:
        blindingFactor: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        viewingKeyHash: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        stealthAddress: stealthAddress
        viewTag: 0
        ephemeralPublicKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        commitment: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        sharedSecret: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        transaction: transaction
      properties:
        transaction:
          description: Base64-encoded unsigned transaction
          type: string
        stealthAddress:
          type: string
        ephemeralPublicKey:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        viewTag:
          type: integer
        commitment:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        blindingFactor:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        viewingKeyHash:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        sharedSecret:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
    transferShield_200_response:
      example:
        data:
          blindingFactor: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          viewingKeyHash: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          stealthAddress: stealthAddress
          viewTag: 0
          ephemeralPublicKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          commitment: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          sharedSecret: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          transaction: transaction
        success: true
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/transferShield_200_response_data"
    transferClaim_request:
      properties:
        stealthAddress:
          description: Base58-encoded Solana public key
          example: S1PMFspo4W6BYKHWkHNF7kZ3fnqibEXg3LQjxepS9at
          maxLength: 44
          minLength: 32
          type: string
        ephemeralPublicKey:
          description: Base58-encoded Solana public key
          example: S1PMFspo4W6BYKHWkHNF7kZ3fnqibEXg3LQjxepS9at
          maxLength: 44
          minLength: 32
          type: string
        spendingPrivateKey:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        viewingPrivateKey:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        destinationAddress:
          description: Base58-encoded Solana public key
          example: S1PMFspo4W6BYKHWkHNF7kZ3fnqibEXg3LQjxepS9at
          maxLength: 44
          minLength: 32
          type: string
        mint:
          description: Base58-encoded Solana public key
          example: S1PMFspo4W6BYKHWkHNF7kZ3fnqibEXg3LQjxepS9at
          maxLength: 44
          minLength: 32
          type: string
      required:
      - destinationAddress
      - ephemeralPublicKey
      - mint
      - spendingPrivateKey
      - stealthAddress
      - viewingPrivateKey
    transferClaim_200_response_data:
      example:
        amount: amount
        destinationAddress: destinationAddress
        explorerUrl: https://openapi-generator.tech
        txSignature: txSignature
      properties:
        txSignature:
          type: string
        destinationAddress:
          type: string
        amount:
          type: string
        explorerUrl:
          format: uri
          type: string
    transferClaim_200_response:
      example:
        data:
          amount: amount
          destinationAddress: destinationAddress
          explorerUrl: https://openapi-generator.tech
          txSignature: txSignature
        success: true
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/transferClaim_200_response_data"
    transferPrivate_request_recipientMetaAddress:
      properties:
        spendingKey:
          description: 32-byte (ed25519) or 33-byte (secp256k1) hex key
          pattern: "^0x[0-9a-fA-F]{64,66}$"
          type: string
        viewingKey:
          description: 32-byte (ed25519) or 33-byte (secp256k1) hex key
          pattern: "^0x[0-9a-fA-F]{64,66}$"
          type: string
        chain:
          enum:
          - solana
          - near
          - aptos
          - sui
          - ethereum
          - polygon
          - arbitrum
          - optimism
          - base
          - bitcoin
          - zcash
          - cosmos
          - osmosis
          - injective
          - celestia
          - sei
          - dydx
          type: string
        label:
          type: string
      required:
      - chain
      - spendingKey
      - viewingKey
    transferPrivate_request:
      properties:
        sender:
          description: Sender address (format varies by chain)
          minLength: 1
          type: string
        recipientMetaAddress:
          $ref: "#/components/schemas/transferPrivate_request_recipientMetaAddress"
        amount:
          description: Positive integer as string (no leading zeros)
          example: "1000000000"
          pattern: "^[1-9]\\d*$"
          type: string
        token:
          description: Token contract/mint address. Omit for native currency.
          type: string
      required:
      - amount
      - recipientMetaAddress
      - sender
    SolanaTransferData:
      example:
        mint: mint
        type: solana
        transaction: transaction
      properties:
        type:
          enum:
          - solana
          type: string
        transaction:
          description: Base64-encoded unsigned transaction
          type: string
        mint:
          type: string
      required:
      - transaction
      - type
      title: SolanaTransferData
    EvmTransferData:
      properties:
        type:
          enum:
          - evm
          type: string
        to:
          description: Recipient or token contract address
          type: string
        value:
          description: Native currency amount (wei)
          type: string
        data:
          description: "Calldata (0x for native, ABI-encoded for ERC20)"
          type: string
        chainId:
          type: integer
        tokenContract:
          type: string
      required:
      - chainId
      - data
      - to
      - type
      - value
      title: EvmTransferData
    NearTransferData_actions_inner:
      properties:
        type:
          enum:
          - Transfer
          - FunctionCall
          type: string
        amount:
          type: string
        methodName:
          type: string
        args:
          type: string
        gas:
          type: string
        deposit:
          type: string
      required:
      - type
    NearTransferData:
      properties:
        type:
          enum:
          - near
          type: string
        receiverId:
          type: string
        actions:
          items:
            $ref: "#/components/schemas/NearTransferData_actions_inner"
          type: array
        tokenContract:
          type: string
      required:
      - actions
      - receiverId
      - type
      title: NearTransferData
    transferPrivate_200_response_data_chainData:
      oneOf:
      - $ref: "#/components/schemas/SolanaTransferData"
      - $ref: "#/components/schemas/EvmTransferData"
      - $ref: "#/components/schemas/NearTransferData"
    transferPrivate_200_response_data:
      example:
        blindingFactor: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        chain: chain
        chainData:
          mint: mint
          type: solana
          transaction: transaction
        curve: ed25519
        viewingKeyHash: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        stealthAddress: stealthAddress
        viewTag: 20
        ephemeralPublicKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        commitment: commitment
        sharedSecret: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
      properties:
        chain:
          type: string
        curve:
          enum:
          - ed25519
          - secp256k1
          type: string
        stealthAddress:
          description: Chain-native stealth address
          type: string
        ephemeralPublicKey:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        viewTag:
          maximum: 255
          minimum: 0
          type: integer
        commitment:
          type: string
        blindingFactor:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        viewingKeyHash:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        sharedSecret:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        chainData:
          $ref: "#/components/schemas/transferPrivate_200_response_data_chainData"
    transferPrivate_200_response:
      example:
        data:
          blindingFactor: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          chain: chain
          chainData:
            mint: mint
            type: solana
            transaction: transaction
          curve: ed25519
          viewingKeyHash: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          stealthAddress: stealthAddress
          viewTag: 20
          ephemeralPublicKey: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          commitment: commitment
          sharedSecret: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
        success: true
      properties:
        success:
          type: boolean
        data:
          $ref: "#/components/schemas/transferPrivate_200_response_data"
    transferPrivate_422_response_error:
      example:
        code: CHAIN_TRANSFER_UNSUPPORTED
        supportedChains:
        - supportedChains
        - supportedChains
        message: message
      properties:
        code:
          enum:
          - CHAIN_TRANSFER_UNSUPPORTED
          type: string
        message:
          type: string
        supportedChains:
          items:
            type: string
          type: array
    transferPrivate_422_response:
      example:
        success: true
        error:
          code: CHAIN_TRANSFER_UNSUPPORTED
          supportedChains:
          - supportedChains
          - supportedChains
          message: message
      properties:
        success:
          enum:
          - false
          type: boolean
        error:
          $ref: "#/components/schemas/transferPrivate_422_response_error"
    scanPayments_request:
      properties:
        viewingPrivateKey:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        spendingPublicKey:
          description: 0x-prefixed 32-byte hex string
          example: 0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
          pattern: "^0x[0-9a-fA-F]{64}$"
          type: string
        fromSlot:
          minimum: 0
          type: integer
        toSlot:
          minimum: 0
          type: integer
        limit:
          default: 100
          maximum: 1000
          minimum: 1
          type: integer
      required:
      - spendingPublicKey
      - viewingPrivateKey
    scanPayments_200_response_data_payments_inner:
      example:
        stealthAddress: stealthAddress
        ephemeralPublicKey: ephemeralPublicKey
        txSignature: txSignature
        slot: 0
        timestamp: 6
      properties:
        stealthAddress:
          type: string
        ephemeralPublicKey:
          type: string
        txSignature:
          type: string
        slot:
          type: integer
        timestamp:
          type: integer
    scanPayments_200_response_data:
      example:
        scanned: 1
        payments:
[...]
